<!DOCTYPE html>
<html lang="en">
<head>
    <title>Iris Prediction</title>
    <link rel="stylesheet" href="/static/css/style.css">
    
   
</head>
<body background="/static/images/background2.jpeg">

<!-- Input Form -->
<div  class="input form">
  <form action="/predict" method="post" id="input head">
    <h1 id="heading">Iris Flower Classification</h1>
    <h2>Enter sepal length: </h2>
    <input type="text" name="sl">
    <br>
    <h2>Enter sepal width:</h2>
    <input type="text" name="sw">
    <br>
    <h2>Enter petal length:</h2>
    <input type="text" name="pl">
    <br>
    <h2>Enter petal width:</h2>
    <input type="text" name="pw">
    <br>
   
    <button id="submit" type="submit">Submit</button>
  </form>
 
</div>
   
</body>
</html>